#js-progress.progress
  .progress-bar.js-progress-bar
    div.title-container
      h1.title Adventure Chu
    form.form
      input.input(type='number', min='0', max='9', maxlength='1')
      input.input(type='number', min='0', max='9', maxlength='1')
      input.input(type='number', min='0', max='9', maxlength='1')
      input.input(type='number', min='0', max='9', maxlength='1')
      input.input(type='number', min='0', max='9', maxlength='1')
