/* ==============================variables=================================== */

/**
 * Custom Variables
 */

// CUSTOM VARS HERE
$colors: (
  chu-black: #000,
  chu-white: #fff,
  pinky: #ff69b4,
  greeny: #4caf50,
);

$z-indexes: (
  canvas: 0,
  progress: 10,
);
